{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Documentation, F.A.Q et tutoriels intégral !{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="page-default">
        <div class="products">
            {% for elem in products %}
                <div class="card">
                    <div class="card-header">
                        <div class="logo">
                            <img src="{{ asset(elem.logoFile) }}" alt="Logo {{ elem.name }}">
                        </div>
                        <div class="name">
                            <div>{{ elem.name }}</div>
                            <div class="linkTo">
                                {% if elem.webservice %}
                                    <a href="https://{{ elem.url }}" title="{{ elem.url }}">
                                        <span>{{ elem.url }}</span>
                                        <span class="icon-link-2"></span>
                                    </a>
                                {% else %}
                                    <span>Logiciel windev</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            {{ elem.description | raw }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a
                                href="{{ path('user_help_product_read', {'slug': elem.slug}) }}"
                                class="txt-button txt-button-primary"
                        >
                            <span>Découvrir {{ elem.name }}</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
