{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}
{% set page_subtitle %}Documentation, F.A.Q et tutoriels intégral !{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="flex flex-col gap-4 md:grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
        {% for elem in products %}
            <div class="bg-white border rounded-md p-4">
                <div class="flex gap-4 items-center">
                    <div class="w-16 h-16 bg-gray-700 rounded-md p-2 flex justify-center items-center">
                        <img src="{{ asset(elem.logoFile) }}" alt="Logo {{ elem.name }}">
                    </div>
                    <div>
                        <div class="font-semibold text-lg">{{ elem.name }}</div>
                        <div>
                            <a href="https://{{ elem.url }}" title="{{ elem.url }}" target="_blank" class="text-blue-500 hover:underline">
                                <span class="pr-1">{{ elem.url }}</span>
                                <span class="icon-link-2 !text-sm"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 pt-4 border-t min-h-28">
                    <div class="text-gray-600">
                        {{ elem.description | raw }}
                    </div>
                </div>
                <div class="mt-4 pt-4 border-t flex justify-end">
                    <a href="{{ path('user_help_product_read', {'slug': elem.slug}) }}"
                       class="flex items-center gap-2 py-1.5 px-2.5 rounded transition-colors hover:bg-blue-100 hover:text-blue-500"
                    >
                        <span>Découvrir {{ elem.name }}</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
