{% extends 'user/pages/products/template_product.html.twig' %}

{% set page_title %}Création d'une question pour la catégorie : {{ category.name }} de {{ product.name }}{% endset %}
{% set page_subtitle %}Ajouter une question à la FAQ de {{ product.name }} à la catégorie {{ category.name }}{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_help_product_read', {slug: product.slug, cat: category.id}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la page'
    } %}
{% endset %}

{% block main_content %}
    <div id="help_faq_question_create"
         data-category="{{ cat }}"
         data-product-slug="{{ product.slug }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
