{% extends 'user/pages/products/template_product.html.twig' %}

{% set page_title %}Modifier : {{ elem.name }}{% endset %}
{% set page_subtitle %}Modifiez les informations de la FAQ de {{ product.name }} : {{ elem.name}}{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('user_help_product_read', {slug: product.slug, cat: category.id}),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la page'
    } %}
{% endset %}

{% block main_content %}
    <div id="help_faq_question_update"
         data-obj="{{ obj }}"
         data-category="{{ cat }}"
         data-product-slug="{{ product.slug }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
