{% extends 'user/pages/documentations/template.html.twig' %}

{% set page_title %}Documentation : {{ elem.name }}{% endset %}
{% set page_subtitle %}{{ elem.status == 0 ? "<span class='text-red-500 font-semibold'>[HORS LIGNE]</span>" : "" }}{% endset %}

{% set page_actions %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="flex gap-1">
            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                btn_link: path('user_help_documentation_update', {p_slug: product.slug, slug: elem.slug}),
                btn_type: 'default',
                btn_icon: 'pencil',
                btn_text: 'Modifier'
            } %}
            <div id="share_url"
                 data-page="{{ product.slug }}"
                 data-type="documentations"
                 data-slug="{{ elem.slug }}"
            >
                <button class="inline-flex justify-center text-center rounded-md py-2 px-4 text-sm font-semibold shadow-sm bg-white text-gray-900 hover:bg-gray-50 ring-1 ring-inset ring-gray-300">
                    <span class="icon-chart-3 inline-block translate-y-0.5"></span>
                    <span class="ml-2">Partager</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endset %}

{% block main_content %}
    <div class="max-w-screen-lg mx-auto">
        <div class="mb-4 flex gap-2">
            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                btn_link: path('user_help_documentation_index', {p_slug: product.slug}),
                btn_type: 'default',
                btn_icon: 'left-arrow',
                btn_text: 'Retourner aux documentations'
            } %}
            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                btn_link: path('user_help_product_read', {slug: product.slug}),
                btn_type: 'default',
                btn_icon: 'left-arrow',
                btn_text: 'Retourner à ' ~ product.name
            } %}
        </div>
        <div class="mt-12 border-t border-gray-300 py-12">
            <h2 class="text-5xl font-bold">{{ elem.name }}</h2>
            <div class="text-gray-600 text-sm">{{ elem.description | raw }}</div>
        </div>
        {% if elem.pdfFile %}
            {% if ".pdf" in elem.pdfFile %}
                <iframe src="{{ elem.pdfFile }}" class="w-full h-full min-h-96 bg-white"></iframe>
            {% elseif ".jpg" in elem.pdfFile or ".png" in elem.pdfFile or ".jpeg" in elem.pdfFile %}
                <img src="{{ elem.pdfFile }}" class="w-full h-full bg-white" alt="image" />
            {% else %}
                <a href="{{ elem.pdfFile }}" target="_blank" class="text-sm text-gray-600 hover:text-black">
                    <span class="icon-file"></span>
                    <span class="underline pl-1">Visionner le fichier</span>
                </a>
            {% endif %}
        {% endif %}
        <div>
            {% block main_content_in %}{% endblock %}
        </div>

        {% include "user/layout/components/commentary/commentaries.html.twig" %}
    </div>
{% endblock %}
