{% extends 'user/pages/tutorials/template.html.twig' %}

{% set page_title %}Guide : {{ elem.name }}{% endset %}
{% set page_subtitle %}{{ elem.status == 0 ? "<span class='text-red-500 font-semibold'>[HORS LIGNE]</span>" : "" }}{% endset %}

{% set page_actions %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="flex gap-1">
            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                btn_link: path('user_help_tutorial_update', {p_slug: product.slug, slug: elem.slug}),
                btn_type: 'default',
                btn_icon: 'pencil',
                btn_text: 'Modifier'
            } %}
            <div id="share_url"
                 data-page="{{ product.slug }}"
                 data-type="tutoriels"
                 data-slug="{{ elem.slug }}"
            >
                <button class="inline-flex justify-center text-center rounded-md py-2 px-4 text-sm font-semibold shadow-sm bg-white text-gray-900 hover:bg-gray-50 ring-1 ring-inset ring-gray-300">
                    <span class="icon-chart-3 inline-block translate-y-0.5"></span>
                    <span class="ml-2">Partager</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endset %}

{% block main_content %}
    <div class="max-w-screen-lg mx-auto">
        <div class="mb-4 flex items-center gap-2 font-medium text-gray-600">
            <a href="{{ path('user_help_product_read', {slug: product.slug}) }}" class="hover:text-black">
                {{ product.name }}
            </a>
            <span>/</span>
            <a href="{{ path('user_help_tutorial_index', {p_slug: product.slug}) }}" class="hover:text-black">
                Documentations
            </a>
            <span>/</span>
            <a href="{{ path('user_help_tutorial_read', {p_slug: product.slug, slug: elem.slug}) }}" class="text-black">
                {{ elem.name }}
            </a>
        </div>
        <div class="border-gray-300 pt-4 pb-12">
            <h2 class="text-5xl font-bold">{{ elem.name }}</h2>
            <div class="text-gray-600 text-lg">{{ elem.description | raw }}</div>
        </div>
        <div>
            {% block main_content_in %}{% endblock %}
        </div>
        {% include "user/layout/components/commentary/commentaries.html.twig" %}
    </div>
{% endblock %}
