{% for elem in products %}
    <div class="bg-white border rounded-md">
        <div class="flex gap-4 items-center p-4 min-h-28">
            <div class="w-16 h-16 bg-gray-200 rounded-md p-2 flex justify-center items-center">
                <img src="{{ asset(elem.logoFile) }}" alt="Logo {{ elem.name }}">
            </div>
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="text-xs text-gray-600">UID: {{ elem.uid }}</div>
                {% endif %}
                <div class="font-semibold text-lg">{{ elem.name }}</div>
                {% if elem.url %}
                    <div>
                        <a href="https://{{ elem.url }}" title="{{ elem.url }}" target="_blank" class="text-sm text-blue-500 hover:underline">
                            <span class="pr-1">{{ elem.url }}</span>
                            <span class="icon-link-2 !text-sm"></span>
                        </a>
                    </div>
                {% endif %}
                {% if elem.intern %}
                    <div>
                        {% include "layout/components/tailwind/badges/badge.html.twig" with {
                            badge_type: "red",
                            badge_text: "Interne"
                        } %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="p-4 border-t min-h-32">
            <div class="text-gray-600">
                {{ elem.description | raw }}
            </div>
        </div>
        <div class="p-4 border-t flex justify-end">
            <a href="{{ path('user_help_product_read', {slug: elem.slug}) }}"
               class="flex items-center gap-2 py-1.5 px-2.5 rounded transition-colors hover:bg-blue-100 hover:text-blue-500"
            >
                <span>Découvrir {{ elem.name }}</span>
                <span class="icon-right-arrow"></span>
            </a>
        </div>
        {% if app.user and app.user.admin %}
            <div class="p-2 border-t grid grid-cols-3 text-center divide-x">
                <a href="{{ path('user_help_product_update', {slug: elem.slug}) }}"
                   class="text-sm underline cursor-pointer hover:text-gray-700">
                    Modifier
                </a>
                <a href="{{ path('user_help_changelogs_index', {p_slug: elem.slug}) }}"
                   class="text-sm underline cursor-pointer hover:text-gray-700">
                    Changelogs
                </a>
                <div class="delete-product"
                     data-id="{{ elem.id }}"
                     data-name="{{ elem.name }}"
                >
                    <div class="text-sm underline cursor-not-allowed hover:text-gray-700">Supprimer</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endfor %}
