{% extends 'user/pages/tutorials/products/template.html.twig' %}

{% block main_content_in %}
    <div class="py-12">
        <div class="py-12">
            <span class="font-semibold">Sommaire</span>
            <div class="mt-4 bg-white rounded-md text-sm p-4 border">
                <ol>
                    <li>1. Préparation des renouvellements</li>
                    <li>2. Planning prévisionnel FM</li>
                    <li>3. Gestion des niveaux FM</li>
                    <li>4. Gestion des plannings FM</li>
                    <li>5. Réponses des propositions FM par les adhérents</li>
                    <li>6. Planning prévisionnel Instruments</li>
                    <li>7. Gestion des niveaux Instruments</li>
                    <li>8. Gestion des plannings Instruments</li>
                    <li>9. Réponses des propositions par les adhérents</li>
                    <li>10. Actualisation des renouvellements</li>
                </ol>
            </div>
        </div>
        <h3 class="text-3xl font-bold">1. Préparation des renouvellements</h3>
        <div class="mt-4">
            Depuis l'interface administrateur web.
            <br>- Rendez-vous dans la fenêtre <i>Gestion des renouvellements > <span class="icon-settings"></span> Paramètres (en haut a droite de la page)</i>.
            <br>- Renseignez les dates de l'année en cours.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">2. Planning prévisionnel FM</h3>
        <div class="mt-4">
            Créez les créneaux pour le planning prévisionnel des FM dans le logiciel Cursus.
            <br>
            <br>
            Depuis le logiciel Cursus.
            <br>- Rendez-vous dans la fenêtre <i>Maintenance > Inscription web</i>.
            <br>- Renseignez le mot de passe.
            <br>- Cliquez sur <b>Export FTP</b>
            <br>- Une fenêtre s'affichera pour vous informer que le transfert est terminé.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/renew/1.png') }}" alt="image 1" class="shadow p-2 rounded-md bg-white">
            </div>
            <div class="mt-6">
                Depuis l'interface administrateur web.
                <br>- Rendez-vous dans la page <i>Logiciel Cursus</i>.
                <br>- Cliquez sur <b>Récupérer les données</b>
            </div>
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/renew/2.png') }}" alt="image 2" class="shadow p-2 rounded-md bg-white">
            </div>
            <div class="mt-6">
                - Si un message en rouge apparait, contactez Logilink avant de continuer.
                <br>- Rubrique <b>Synchronisation à ne réaliser qu'une fois dans l'année</b>, cliquez sur <b>Démarrer le planning prévisionnel FM</b>
                <br>- Si un message en rouge apparait, contactez Logilink avant de continuer.
            </div>
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/renew/3.png') }}" alt="image 3" class="shadow p-2 rounded-md bg-white">
            </div>
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">3. Gestion des niveaux FM</h3>
        <div class="mt-4">
            Activez la <b>Gestion des niveaux</b> depuis le <i>Dashboard</i> <br>
            Depuis l'interface web, les professeurs affectent le niveau de leurs élèves.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">4. Gestion des plannings FM</h3>
        <div class="mt-4">
            Activez la <b>Gestion des plannings</b> depuis le <i>Dashboard</i> <br>
            Depuis l'interface web, les professeurs créent leurs cours et assignent leurs élèves à ces cours.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">5. Réponses des propositions FM par les adhérents</h3>
        <div class="mt-4">
            Activez la <b>Phase 1 ou 2</b> depuis le <i>Dashboard</i>, <br>
            Depuis l'interface web, les adhérents acceptent ou refusent la proposition de cours soumis par leurs professeurs.
            <br>
            Il est conseillé de désactiver l'accès à la gestion des niveaux et plannings aux professeurs.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">6. Planning prévisionnel Instruments</h3>
        <div class="mt-4">
            Répétez le début de l'étape 2 : Planning prévisionnel FM, mais, au lieu de lancer la
            procédure <i>Démarrer le planning prévisionnel FM</i>, Lancez
            <br>- Rubrique <b>Quelle synchronisation souhaitez vous réaliser ?</b>, cliquez sur <b>Mettre à jour le planning prévisionnel</b>
            <br>
            Il est conseillé de désactiver l'accès aux réponses aux adhérents.
            <div class="mt-6">
                <img src="{{ asset('build/user/images/help/guides/products/cite-de-la-musique/renew/4.png') }}" alt="image 3" class="shadow p-2 rounded-md bg-white">
            </div>
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">7. Gestion des niveaux Instruments</h3>
        <div class="mt-4">
            Activez la <b>Gestion des niveaux</b> depuis le <i>Dashboard</i> <br>
            Depuis l'interface web, les professeurs affectent le niveau de leurs élèves.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">8. Gestion des plannings Instruments</h3>
        <div class="mt-4">
            Activez la <b>Gestion des plannings</b> depuis le <i>Dashboard</i> <br>
            Depuis l'interface web, les professeurs créent leurs cours et assignent leurs élèves à ces cours.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">9. Réponses des propositions par les adhérents</h3>
        <div class="mt-4">
            Activez la <b>Phase 3</b> depuis le <i>Dashboard</i> <br>
            Depuis l'interface web, les adhérents acceptent ou refusent la proposition de cours soumis par leurs professeurs.
            <br>
            Il est conseillé de désactiver l'accès à la gestion des niveaux et plannings aux professeurs.
        </div>
    </div>
    <div class="py-12">
        <h3 class="text-3xl font-bold">10. Actualisation des renouvellements</h3>
        <div class="mt-4">
            Désactiver les gestions et phases depuis le <i>Dashboard</i> <br>
            Retrouvez le tutoriel pour actualiser les renouvellements dans le logiciel de Cursus sur le lien suivant :
            <br>
            <a href="{{ path('user_help_tutorial_read', {p_slug: product.slug, slug: 'Actualisation-des-renouvellements'}) }}" class="text-blue-500 underline hover:text-blue-700">
                Actualisation des renouvellements
            </a>
        </div>
    </div>
{% endblock %}
