<header class="bg-white shadow">
    <div class="mx-auto max-w-screen-qhd px-4 py-6 sm:px-6 lg:px-8">
        <div class="flex flex-col justify-between gap-4 sm:flex-row">
            <div>
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{ page_title }}</h1>
                <div class="max-w-2xl">{{ page_subtitle is defined ? page_subtitle : "" }}</div>
            </div>
            <div>
                {{ page_actions is defined ? page_actions : "" }}
            </div>
        </div>
        <div id="global_search_product" class="mt-2"
             data-p-slug="{{ product.slug }}"
             data-id="{{ product.id }}"
        >
            <div class="block bg-gray-50 rounded-md shadow-sm border-0 py-2 px-3 text-sm text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-gray-500">
                <span class="icon-chart-3"></span>
                <span class="pl-2">Rechercher un guide, documentation, réponse..</span>
            </div>
        </div>
    </div>
</header>
