{% extends 'user/pages/products/template_product.html.twig' %}

{% set typeString = product.typeString %}

{% set page_title %}{{ elem.name }}{% endset %}
{% set page_subtitle %}Centre d'aide pour le {{ typeString }} {{ elem.name }}{% endset %}

{% set page_actions %}
{% endset %}

{% block main_content %}
    {% if canRead %}
        <div class="flex flex-col gap-12">
            <div class="flex flex-col gap-4 md:flex-row">
                <div class="bg-white rounded-md shadow p-4 flex gap-4">
                    <img src="{{ asset(elem.logoFile) }}" alt="logo {{ elem.name }}" class="w-12 h-12 object-contain bg-gray-200 rounded-md p-2 flex justify-center items-center">
                    {% if elem.starter %}
                        <div>
                            <h2 class="font-bold text-2xl">Guide de Démarrage</h2>
                            <div class="text-gray-800">Apprenez rapidement à prendre en main ce {{ typeString }} !</div>
                            <div class="mt-4">
                                {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                                    btn_link: path('user_help_product_starter', {slug: elem.slug}),
                                    btn_type: 'blue',
                                    btn_icon_right: 'right-arrow',
                                    btn_text: 'Démarrer'
                                } %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            <h2 class="font-bold text-2xl">{{ elem.name }}</h2>
                            <div class="text-gray-800">
                                Apprenez rapidement à prendre en main ce {{ typeString }} à travers
                                nos tutoriels, documentation et foire aux questions !
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="bg-white rounded-md shadow p-4 md:min-w-72">
                    <h2 class="font-bold text-2xl"><span class="icon-question-1 !font-bold"></span> F.A.Q.</h2>
                    <div class="text-gray-800">Réponses aux questions les plus demandées !</div>
                    <div class="mt-4">
                        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                            btn_link: '#faq',
                            btn_type: 'default',
                            btn_icon_right: 'right-arrow',
                            btn_text: 'Trouver ma réponse'
                        } %}
                    </div>
                </div>
            </div>

            <div>
                <h2 class="font-bold text-2xl">Documentation</h2>
                <div class="text-gray-800">Le meilleur moyen de comprendre l'utilisation du {{ typeString }}.</div>

                <div class="mt-4">
                    <a href="{{ path('user_help_documentation_index', {p_slug: elem.slug}) }}"
                       class="group font-medium flex items-center gap-2 text-blue-500">
                        <span class="group-hover:underline">En savoir plus</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>

            <div>
                <h2 class="font-bold text-2xl">Guides</h2>
                <div class="text-gray-800">
                    Prenez en main facilement le {{ typeString }} avec nos guides. Pour plus
                    d'explications, veuillez lire la documentation.
                </div>
                <div class="mt-4">
                    <a href="{{ path('user_help_tutorial_index', {p_slug: elem.slug}) }}"
                       class="group font-medium flex items-center gap-2 text-blue-500">
                        <span class="group-hover:underline">En savoir plus</span>
                        <span class="icon-right-arrow"></span>
                    </a>
                </div>
            </div>

            <div id="faq">
                <h2 class="font-bold text-2xl">F.A.Q.</h2>
                <div class="text-gray-800">Retrouvez les réponses aux questions les plus demandées sur le {{ typeString }}.</div>
                <div class="mt-4">
                    <div id="help_faq_list"
                         data-role="{{ app.user.admin ? "admin" : "user" }}"
                         data-category="{{ app.request.get('cat') }}"
                         data-product-id="{{ elem.id }}"
                         data-product-slug="{{ elem.slug }}"
                    >
                        {% include "layout/components/loader.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="rounded-md bg-red-100 p-4">
            <h2 class="font-bold text-red-500 text-2xl">Accès non autorisé</h2>
            <div class="text-gray-800">Vous n'avez pas l'autorisation d'accéder à cette page.</div>
            <div class="mt-2">
                <a href="{{ path('user_help_products_index') }}" class="text-blue-700 underline hover:text-blue-500">Revenir aux produits</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
