{% extends 'user/pages/products/template.html.twig' %}

{% set typeString = elem.webservice ? "webservice" : "logiciel" %}

{% set page_title %}{{ elem.name }}{% endset %}
{% set page_subtitle %}Centre d'aide pour le {{ typeString }} {{ elem.name }}{% endset %}

{% block breadcrumb %}
    {% set breadcrumbs = breadcrumbs | merge([{ text: page_title }]) %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    {% set force_user = app.request.get('force_user') %}
    {% if app.user.admin %}
        <div class="page-actions">
            {% if force_user == null %}
                {% set url = path('user_help_product_read', {'slug': elem.slug, 'force_user': true}) %}
            {% else %}
                {% set url = path('user_help_product_read', {'slug': elem.slug}) %}
            {% endif %}

            <div>Vue actuel : <span class="txt-danger">{{ force_user == null ? "Administrateur" : "Utilisateur" }}</span></div>

            <a href="{{ url }}" class="btn btn-default">
                <span class="icon-vision"></span>
                <span>Activer le vue {{ force_user == null ? "utilisateur" : "administrateur" }}</span>
            </a>
        </div>
    {% endif %}
    <div class="page-default">
        <div class="product-read">
            <div class="product-line-0">
                <div class="guide-start">
                    <div class="col-1">
                        <h2>Guide de <br>Démarrage</h2>
                        <div class="subtitle">Apprenez rapidement à prendre en main ce {{ typeString }} !</div>
                    </div>

                    <div class="col-2">
                        <img src="{{ asset(elem.logoFile) }}" alt="logo {{ elem.name }}">
                        <div class="cta">
                            <a href="" class="btn btn-primary">
                                <span>Démarrer</span>
                                <span class="icon-right-arrow"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="cta-faq">
                    <h2><span class="icon-question-1"></span> F.A.Q.</h2>
                    <div class="subtitle">Réponses aux questions les plus demandées !</div>
                    <div class="cta">
                        <a href="" class="txt-button txt-button-default">
                            <span>Trouver ma réponse</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="product-line-1">
                <div class="product-line-title">
                    <h2>Tutoriels</h2>
                    <div class="subtitle">Prenez en main facilement le {{ typeString }} avec des nos tutoriels</div>
                </div>
                {% if app.user.admin and force_user == null %}
                    <div class="btn-add">
                        <a href="" class="btn btn-danger">
                            <span class="icon-add"></span>
                            <span>Ajouter un tutoriel</span>
                        </a>
                    </div>
                {% endif %}
                <div class="tutorials">
                    <div class="card">
                        <div class="card-header">
                            <div class="name">Publies mes biens</div>
                        </div>
                        <div class="card-body">
                            <div class="content">
                                Procédure complète de publication de biens immobilier
                            </div>
                        </div>
                        <div class="card-footer">
                            <a
                                    href="{{ path('user_help_product_read', {'slug': elem.slug}) }}"
                                    class="btn-icon"
                            >
                                <span class="icon-vision"></span>
                                <span class="tooltip">Voir le tutoriel</span>
                            </a>
                            <a
                                    href="{{ path('user_help_product_read', {'slug': elem.slug}) }}"
                                    class="btn-icon"
                            >
                                <span class="icon-heart"></span>
                                <span class="tooltip">Mettre en favoris</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .badges-custom{
                    display: flex;
                    gap: 8px;
                    margin: 8px 0;
                }

                .badge-custom-lotys{
                    display: flex; align-items: center; justify-content: center;
                    background-color: var(--primaryOpacity4);
                    color: var(--primary);
                    border-radius: 20px;
                    width: 24px; height: 24px;
                }
            </style>

            <div class="product-line-2">
                <div class="product-line-title">
                    <h2>Documentation</h2>
                    <div class="subtitle">Le meilleur moyen de maitriser l'utilisation du {{ typeString }}.</div>
                </div>
                {% if app.user.admin and force_user == null %}
                    <div class="btn-add">
                        <a href="{{ path('user_help_documentation_create', {'slug': elem.slug}) }}" class="btn btn-danger">
                            <span class="icon-add"></span>
                            <span>Ajouter une documentation</span>
                        </a>
                    </div>
                {% endif %}
                <div class="tutorials documentations">
                    {% for el in docs %}
                        <div class="card">
                            <div class="card-header">
                                <div class="icon">
                                    <span class="icon-{{ el.icon }}"></span>
                                </div>
                                <div class="name">{{ el.name }}</div>
                            </div>
                            <div class="card-body">
                                <div class="content">
                                    {{ el.description | raw }}
                                </div>
                            </div>
                            <div class="card-footer">
                                {% if app.user.admin and force_user == null %}
                                    <a
                                            href="{{ path('user_help_documentation_update', {'p_slug': elem.slug, 'slug': el.slug}) }}"
                                            class="btn-icon"
                                    >
                                        <span class="icon-pencil"></span>
                                        <span class="tooltip">Modifier</span>
                                    </a>
                                    <div class="delete-doc"
                                         data-id="{{ el.id }}"
                                         data-name="{{ el.name }}"
                                         data-product-slug="{{ elem.slug }}"
                                    >
                                        <button class="btn-icon btn-loader-without-text"><span class="icon-chart-3"></span></button>
                                    </div>
                                    <a
                                            href="{{ path('user_help_documentation_read', {'p_slug': elem.slug, 'slug': el.slug}) }}"
                                            class="btn-icon"
                                    >
                                        <span class="icon-vision"></span>
                                        <span class="tooltip" style="width: 96px">En savoir plus</span>
                                    </a>
                                {% else %}
                                    <a
                                            href="{{ path('user_help_documentation_read', {'p_slug': elem.slug, 'slug': el.slug}) }}"
                                            class="txt-button txt-button-primary"
                                    >
                                        <span>En savoir plus</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="product-line-3">
                <div class="product-line-title">
                    <h2>F.A.Q.</h2>
                    <div class="subtitle">Retrouvez les réponses aux questions les plus demandées sur le {{ typeString }}</div>
                </div>
                <div class="faqs">
                    <div id="help_faq_list"
                         data-role="{{ app.user.admin and force_user == null ? "admin" : "user" }}"
                         data-product-id="{{ elem.id }}"
                         data-product-slug="{{ elem.slug }}"
                    >
                        {% include "layout/components/loader.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
