{% extends 'user/pages/documentations/template.html.twig' %}

{% set product = elem.product %}
{% set author = elem.author %}

{% set page_title %}{{ product.name }}{% endset %}
{% set page_subtitle %}Documentation {{ elem.name }} {{ elem.status == 0 ? "<span class='txt-danger'>[HORS LIGNE]</span>" : "" }}{% endset %}

{% block main_content %}
    <div class="max-w-screen-lg mx-auto">
        <div class="mb-4 flex gap-2">
            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                btn_link: path('user_help_documentation_index', {p_slug: product.slug}),
                btn_type: 'default',
                btn_icon: 'left-arrow',
                btn_text: 'Retourner aux documentations'
            } %}
            {% include 'layout/components/tailwind/buttons/button.html.twig' with {
                btn_link: path('user_help_product_read', {slug: product.slug}),
                btn_type: 'default',
                btn_icon: 'left-arrow',
                btn_text: 'Retourner à ' ~ product.name
            } %}
        </div>
        <div>
            <h2 class="text-4xl font-bold">{{ elem.name }}</h2>
        </div>
        <div>
            {{ elem.content | raw }}
        </div>
    </div>
{% endblock %}
