{% extends 'user/pages/documentations/template.html.twig' %}

{% set page_title %}Modifier : {{ elem.name }}{% endset %}
{% set page_subtitle %}Modifiez les informations de la documentation {{ product.name }} : {{ elem.name }}.{% endset %}

{% set page_actions %}
    <div class="flex gap-2">
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_help_documentation_index', {p_slug: product.slug}),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner aux documenations'
        } %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_help_documentation_read', {p_slug: product.slug, slug: elem.slug}),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner à la documentation'
        } %}
    </div>
{% endset %}


{% block main_content %}
    <div id="documentations_update"
         data-element="{{ element }}"
         data-product-slug="{{ product.slug }}"
    >
        {% include "layout/components/loader.html.twig" %}
    </div>
{% endblock %}
