{% extends 'user/pages/tutorials/template.html.twig' %}

{% set page_title %}Modifier : {{ elem.name }}{% endset %}
{% set page_subtitle %}Modifiez les informations du tutoriel de {{ product.name }} : {{ elem.name }}.{% endset %}

{% set page_actions %}
    <div class="flex gap-2">
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_help_tutorial_index', {p_slug: product.slug}),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner aux guides'
        } %}
        {% include 'layout/components/tailwind/buttons/button.html.twig' with {
            btn_link: path('user_help_tutorial_read', {p_slug: product.slug, slug: elem.slug}),
            btn_type: 'default',
            btn_icon: 'left-arrow',
            btn_text: 'Retourner au guide'
        } %}
    </div>
{% endset %}

{% block main_content %}
    <div id="tutorials_update"
         data-product-slug="{{ product.slug }}"
         data-element="{{ element }}"
         data-steps="{{ steps }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
