{% extends 'base_tailwind.html.twig' %}

{% block title %}{{ page_title }} | {{ page_prefix }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_app') }}
{% endblock %}

{% block body %}
    {% include "layout/components/page-loader.html.twig" %}

    <div id="body-content" class="relative overflow-hidden">
        <nav class="relative z-20">
            <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
                <div class="flex h-16 xl:h-20 items-center justify-between">
                    <div class="w-full flex items-center justify-between">
                        <a href="{{ path('app_homepage') }}" class="flex flex-shrink-0 items-center">
                            <img class="h-8 w-auto" src="{{ asset('build/app/images/logo.png') }}" alt="Logilink centre d'aide">
                        </a>
                        <div>
                            Centre d'aide en ligne de <span class="font-semibold">Logilink</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div style="background-image: url('{{ asset('build/app/images/help.jpg') }}'); background-size: cover;">
            <main class="relative z-10 {{ main_class is defined ? main_class : "mx-auto max-w-screen-2xl sm:min-h-[calc(100vh-100px-64px)] xl:min-h-[calc(100vh-100px-80px)] p-4 lg:p-8" }}">
                {% block main_content %}{% endblock %}
            </main>
        </div>


        <div class="relative z-10">
            {% block footer %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_app') }}
{% endblock %}
