{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_app') }}
{% endblock %}

{% block body %}
    {% include "layout/components/page-loader.html.twig" %}

    <div class="body">
        <nav>
            <a href="{{ path('app_homepage') }}">
                <img src="{{ asset('build/app/images/logo.png') }}" alt="Logo logilink">
            </a>
            <div>
                <div class="name">Centre d'aide de <b>Logilink</b></div>
            </div>
        </nav>
        <main>
            <div>
                {% block main_content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_app') }}
{% endblock %}
