{% extends 'app/layout/layout.html.twig' %}

{% block title %}Centre d'aide | Logilink{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="homepage-header">
        <div class="homepage-header-content">
            <h1>Comment puis-je vous aider ? 👋</h1>
            <div class="subtitle">
                Accéder aux documentations, F.A.Q et tutoriels pour
                mieux comprendre comment fonctionne nos logiciels !
            </div>

            <div class="cta">
                <a class="btn btn-primary" href="{{ path('app_login') }}">Accéder à mon espace</a>
            </div>
        </div>
    </div>
    <div class="homepage-section homepage-section-0">
        {% include 'app/layout/components/deco-0.html.twig' %}
        {% include 'app/layout/components/deco-1.html.twig' %}
        <div class="homepage-section-container">
            <div class="homepage-section-title">
                <h2>Produits ⚒️</h2>
                <div class="subtitle">Parcourez la documentation et les questions fréquentes de nos logiciels et webservices !</div>
            </div>
            <div class="products">
                <div class="card">
                    <div class="card-header">
                        <div class="logo">
                            <img src="{{ asset('logos/logo_lotys.svg') }}" alt="Logo lotys.fr">
                        </div>
                        <div class="name">
                            <div>Lotys</div>
                            <div class="linkTo">
                                <a href="https://lotys.fr" title="lotys.fr">
                                    <span>lotys.fr</span>
                                    <span class="icon-link-2"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="content">
                            Webservice pour la gestion des transactions immobilières. <br>
                            Diffusez facilement vos annonces sur différentes plateformes !
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="" class="txt-button txt-button-primary">
                            <span>Découvrir Lotys</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="logo">
                            <img src="{{ asset('logos/logo_magesto.svg') }}" alt="Logo magesto.fr">
                        </div>
                        <div class="name">
                            <div>Magesto</div>
                            <div class="linkTo">
                                <a href="https://magesto.fr" title="magesto.fr">
                                    <span>magesto.fr</span>
                                    <span class="icon-link-2"></span>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="content">
                            Webservice pour la gestion des factures, devis et avoirs. <br>
                            Programmez vos contrats pour rapidement générer et envoyer vos documents !
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="" class="txt-button txt-button-primary">
                            <span>Découvrir Magesto</span>
                            <span class="icon-right-arrow"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
